footer {
    background: #f8f9fa;
    padding: 15px 0;
    .img-container {
        width: 200px;
        margin: auto;
        img {
            width: 100%;
        }
    }
    .copyright {
        margin: 10px 0;
        text-align: center;
    }
}